.capabillity{
    padding: 105px 0px;
}
.capabillity__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 47px;
}
.capabillity__img{
    background-image: url('./../img/capabillity/capa.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 752px;
    height: 759px;
}
@media screen and (max-width: 650px){
    .capabillity__img{
        height: 700px;
    }
}
@media screen and (max-width: 550px){
    .capabillity__img{
        height: 650px;
    }
}
@media screen and (max-width: 500px){
    .capabillity__img{
        height: 600px;
    }
}
@media screen and (max-width: 450px){
    .capabillity__img{
        height: 550px;
    }
}
@media screen and (max-width: 400px){
    .capabillity__img{
        height: 500px;
    }
}
@media screen and (max-width: 350px){
    .capabillity__img{
        height: 450px;
    }
}
@media screen and (max-width: 320px){
    .capabillity__img{
        height: 365px;
    }
}
.capabillity__column{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    max-width: 269px;
}
.capabillity__title {
    display: flex;
    align-items: center;
    color: var(--white-color);
    margin-bottom: 30px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: .0125rem;
    font-weight: 500;
}
.capabillity__card-img {
    margin-right: 10px;
}
.capabillity__card-img--1{
    display: inline-block;
    background-image: url('./../img/capabillity/1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}
.capabillity__card-img--2{
    display: inline-block;
    background-image: url('./../img/capabillity/2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}
.capabillity__card-img--3{
    display: inline-block;
    background-image: url('./../img/capabillity/3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
    width: 32px;
}
.capabillity__text {
    color: var(--white-color);
}