.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1098px;
    padding: 40px 0px;
    margin: 0px 0px 95px 0px;
}
.header__bottom-content{
    margin: 0px 0px 85px 0px;
}
.header__bottom-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    row-gap: 21px;
    margin-bottom: 35px;
}
// обертка для изображения с градиентом
.header__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
    overflow: hidden;
}

// Псевдо-элемент для создания эффекта градиента, выходящего за границы изображения
.header__image-wrapper::after {
    content: "";
    // Позиционирование псевдо-элемента на 50% высоты обертки
    position: absolute;
    top: 50%;
    // Отрицательные значения для создания эффекта выхода за границы
    right: -10%;
    bottom: -10%;
    left: -10%;
    // градиент
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.5%);
}

// стили для изображения
.header__image {
    display: block;
    // отключение взаимодействия с изображением
    pointer-events: none;
}
@media screen and (max-width: 600px){
    .header__bottom-buttons{
        flex-direction: column;
    }
}