:root{
    --bg-color: #181818;

    --white-color: #fff;
    --blue-color: #4452fe;
    --blue-light-color: #43b6ff;
    --grey-color: #5C5C5C;
    --grey-light-color: #6e6b6b;
    --black-font-color: #000;
}